<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969196261707-v8i2mv7436odhodfpgi3l8b6iorffqgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969196261707-v8i2mv7436odhodfpgi3l8b6iorffqgk</string>
	<key>API_KEY</key>
	<string>AIzaSyAqz3K1hTwCaIiuA2-kkiYIgP22jhTIlqI</string>
	<key>GCM_SENDER_ID</key>
	<string>969196261707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.digitguessr</string>
	<key>PROJECT_ID</key>
	<string>digitguessr</string>
	<key>STORAGE_BUCKET</key>
	<string>digitguessr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969196261707:ios:6544f35e667834524ad8ce</string>
</dict>
</plist>